<form [formGroup]="formulario" (ngSubmit)="enviar()" *ngIf="pulsado==false" >
<Label>Elige asigntura:</Label>
<div class="dropdown">
    <select formControlName="asignatura" >

      <option *ngFor=" let asignaturas of listaAsignaturas" class="dropdown-item">{{asignaturas}} </option>
  
    
    </select>
  </div>
  <button class="btn btn-primary"  type="submit" [disabled]="!formulario.valid">Empezar</button>
</form>
<!--app-desplegable></app-desplegable-->
<div *ngIf="listaPreguntas.length>0">
 
<div *ngFor=" let pregunta of listaPreguntas ; let i = index ">
<h3>{{pregunta.enunciado}}</h3>

 <input type="radio"  name={{i}} value="1" (change)="onItemChange($event.target)" [attr.disabled]=radioButtonHabilitado >
 <label for="1">{{pregunta.respuesta1}}</label><br>
 <input type="radio"  name={{i}} value="2" (change)="onItemChange($event.target)"  [attr.disabled]=radioButtonHabilitado >
 <label for="2">{{pregunta.respuesta2}}</label><br>
<input type="radio"  name={{i}} value="3" (change)="onItemChange($event.target)" [attr.disabled]=radioButtonHabilitado >
<label for="3">{{pregunta.respuesta3}}</label><br>
<input type="radio"  name={{i}} value="4"(change)="onItemChange($event.target)" [attr.disabled]=radioButtonHabilitado >
<label for="4">{{pregunta.respuesta4}}</label><br>
<div *ngIf="testAcabado==true">

  <div  *ngIf="pregunta.respondida==pregunta.correcta" class="correcto">


    <p>La respuesta correcta es la {{pregunta.correcta}} </p>

  </div>

  <div  *ngIf="pregunta.respondida!=pregunta.correcta" class="incorrecto">


    <p>La respuesta correcta es la {{pregunta.correcta}}, tu respondiste  {{pregunta.respondida}}</p>

  </div>


</div>

</div>

<div><button  *ngIf="testAcabado==false"  class="btn btn-primary" (click)="acabarTest()"  >Finalizar</button></div>

<div *ngIf="testAcabado==true">  
 <p>{{contador}} aciertos de {{listaPreguntas.length}} preguntas</p>
  <button  class="btn btn-primary" (click)="reiniciar()"  >Reintentar</button></div>

</div>




<div *ngIf="noHayPreguntas==true">
<h3>No hay preguntas en {{asignatura}}</h3>
<p>Vete a  <a href="AnadirPreguntas"> añadir preguntas</a> para empezar</p>
</div>